ul li a{
    //color:white;
    font-size: 15px;
    font-weight: 500;

}
.navbar-brand_logo{
    height: 40px;
    width: 55px;
}
.home-container{
    background-color: #fff;
    margin: 22%;
    width:52%;
}
.total-pay{
    display: flex;
    justify-content: space-between;
}
.progress {
    height: 5px; /* Set the height you want for the progress bar */
  }