.checkbox{
    padding: 9px;
    margin-right: 21px;
}

.scroll{
    height: 400px;
    overflow-y: auto;
}
#insurancecar{
    margin-left: 50px;
    margin-top: 10px;
    height: 150px;
    width: 320px;
}
.cost-breakUp{
    margin-left: 20px;
}
